// @import url('https://fonts.googleapis.com/css?family=Noto Sans Display');
// @import url('https://fonts.googleapis.com/css?family=Noto Sans Arabic');
// @import url('https://fonts.googleapis.com/css?family=Amiri');
@font-face {
    font-family: 'noto-sans-arabic-medium';
    src: local('noto-sans-arabic-medium'), url(../fonts/NotoSansArabicUI-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'noto-sans-arabic-bold';
    src: local('noto-sans-arabic-bold'), url(../fonts/NotoSansArabicUI-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'nexa-light';
    src: local('noto-sans-arabic-medium'), url(../fonts/NexaLight.otf) format('truetype');
}

@font-face {
    font-family: 'nexa-bold';
    src: local('noto-sans-arabic-bold'), url(../fonts/NexaBold.otf) format('truetype');
}
// @font-face {
//     font-family: noto-sans-arabic-regular;
//     src: url("../fonts/NotoSansArabic-Regular.ttf");
//   }
// @font-face {
// font-family: noto-sans-arabic-semi;
// src: url("../fonts/NotoSansArabicUI-SemiCondensedBlack.ttf");
// }

.hor-line{
    width: 140px;
    align-items:left; 
    width:"50%";
    border: 3px solid #FE6A00;
    text-align:left;
    margin-left:0;
    border-radius: 10px;
}

.box-line{
    display: flex;
    justify-content: flex-start;
}

.know-more{
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.title-know-more{
    position:absolute;
    top: -30px;
    margin-bottom: 10px;
    // left: -20px;
}
.hor-line-support{
    width: 140px;
    /* text-align: left; */
    position: absolute;
    bottom: -33px;
    /* color: #FE6A00; */
    border: 3px solid #FE6A00;
    /* right: 0px; */
    display: block;
    border-radius: 10px;
}

.hjz-introduction{
    margin-top: 10px;
}
//Font-HEADER

.header-font{
    font-size: 1.5em !important;
}

.en-font .sub-header{
    font-size: 1em !important;
    // position: relative;
    line-height: 0.8 ;
    margin-bottom: 5px;;
}

.ar-font .sub-header{
    line-height: 1.5 ;
}


.sub-header-font{
    line-height: 0.1 !important;
    display: contents !important;
    font-size: 1.4em !important;
}
.sub-header-how{
    font-size: 1.4em !important;
}

.header-section > h2{
    font-size: 2em !important;
    color: #DFDFE0 !important;
}



.how-style{
    display: flex;
    flex-direction: column;
}

.how-style > p{
    margin: 0 5px !important;

}

.css-1av7z0b-Support{
    background: #0B0B0E !important;
}

.css-klplxq{
    border: 2px solid #DFDFE0 !important;
    border-radius: 15px;
    background-color: #0B0B0E !important;   
}

.css-148yaum-SectionHeading{
    color: #DFDFE0;
}

/* Arabic styles */
.ar {
    text-align: right !important;

}




/* 
 Eng Arabic styles
 Start English styles
*/
.en {
    text-align: left !important;
}



body{
    direction: rtl ;
}

.logo-img-en{
    position: inherit;
}

// .logo-img-en > img {
//     // position: relative;
//     // left: 0px;
//     // top: 5px;
// }

.logo-img-ar{
    position: inherit;
}

// .logo-img-ar > img {
//     // position: relative;
//     // left: -30px;
//     // top: 5px;
// }

#form{
    justify-content: flex-start;
}


#btunn:hover{
    background-color: #fe6a00cf;
}


#img-question{
    max-width: 100%;
}

#FAQs{
    padding-top: 20px;
    background-color: #101015 !important;
}

#HowUseIt{
    padding-bottom: 0px;
    background-color: #101015 !important;
}


#sub-head{
    font-size: 0.8em !important;
    // line-height: 0.7 !important;
}

.css-c0rvfs-PremiumFeature{
    margin-bottom: 50px !important;
}

.btn-subscriptionForm{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ABCFavorit, "Arial Nova", sans-serif;
    padding: 6px 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    min-width: 0px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 4px;
    transition: unset;
    white-space: nowrap;
    position: relative;
    font-size: 1rem;
    line-height: 2;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box padding-box, linear-gradient(90deg, rgb(32, 28, 255) -91.5%, rgb(19, 239, 149) 80.05%) border-box border-box;
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(56, 237, 172, 0.2) 10px 0px 15px) drop-shadow(rgba(150, 162, 255, 0.2) -10px 0px 15px);
    border: 1px solid transparent;
 
}


@media (max-width:1023px) { 
    .know-more{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #sub-head{
        font-size: 1em !important;
    }
    
    #form > div{
        width: 100%;
    }
    #form > div > input{
        text-align: center;
    }
    
    .logo-nav-en{
        position: relative;
        left: -30px;
        top: 5px;
    }
    
    
    
    #img-question{
        max-width: 50%;
    }

    #main-image{
        margin: 0 auto;
    }
    

 }


@media (max-width: 576px) { 
    #header-en {
        margin-top: 0rem !important;
        margin-bottom: 1rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    
    #main-image{
        margin-top: 20px;
    }
    #sub-head{
        font-size: 1em !important;
    }
    
    #form > div{
        width: 100%;
    }
    #form > div > input{
        text-align: center;
    }
    
    .logo-nav-en{
        position: relative;
        left: 10px;
        top: -14px;
    }
    
    #img-question{
        width: 100%;
        max-height: 150px;
        margin-bottom: 30px;
    }

    #form{
        justify-content: center;
    }

    #icon > img {
        width: 70px;
        margin-right: 5px;
        min-width: 70px;

    }

    #icon > h1 {
        margin-right: 5px;
        font-size: 35px;
    }

    #icon > div > div > h4 {
        font-size: 20px;
    }

    #img-question{
        max-width: 100%;
        }

  
        
    #FAQs{
        padding:0px;
        padding-bottom:20px;
    }   
 }


 @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: #0B0B0D;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #0B0B0D);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #0B0B0D);
  }
  
//   .logos:hover .logos-slide {
//     animation-play-state: paused;
//   }
  
  .logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
  


 #header-en{
    border-radius: var(--12);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
 }
 
 #header-en,#logo-nav{
     direction: ltr !important;
 }


.ar-font .font-family{
    font-family: 'noto-sans-arabic-medium', sans-serif !important;
 }

.ar-font  * {
    font-family: 'noto-sans-arabic-medium',sans-serif !important;
}

// .ar-font  > .css-1vt9vkt-Banner, .ar-font > .css-1vt9vkt-Banner, .ar-font > * {
//     font-family: 'noto-sans-arabic-medium','nexa-bold',sans-serif !important;
// }

.ar-font  >  .css-1vt9vkt-Banner, .ar-font > .css-1vt9vkt-Banner, .ar-font > *  {
    font-family: 'noto-sans-arabic-medium',sans-serif !important;
}
.ar-font  span,  a ,h2, .ar-font  h3, .ar-font button, .ar-font h1,.ar-font  h2,.ar-font  h3, .ar-font button   {
    font-family: 'noto-sans-arabic-bold',sans-serif !important;
}




.en-font .font-family{
    font-family: 'nexa-light', sans-serif !important;
 }

.en-font  * {
    font-family: 'nexa-light',sans-serif !important;
}

// .en-font  > .css-1vt9vkt-Banner, .en-font > .css-1vt9vkt-Banner, .en-font > * {
//     font-family: 'nexa-light','nexa-bold',sans-serif !important;
// }

.en-font  >  .css-1vt9vkt-Banner, .en-font > .css-1vt9vkt-Banner, .en-font > *  {
    font-family: 'nexa-light',sans-serif !important;
}
.en-font  span,  a ,h2, .en-font  h3, .en-font button, .en-font h1,.en-font  h2,.en-font  h3, .en-font button   {
    font-family: 'nexa-bold',sans-serif !important;
}



textarea:focus, input:focus,input:focus-visible , *:focus-visible *:focus , #company-name:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}


.swal-footer {
    text-align: center ;
  }

.swal-button {
    background: #0B0B0E !important;
}

.css-1z0eipk img{
    max-width: 90%;
    max-height: 90%;
}


.css-klplxq{
    background: #101015 !important;
}


.css-193gqni-PremiumFeature{
    z-index: 1 !important;
}


.css-1ol9p5o-PremiumFeature{
    min-height: 70px !important;
    min-width: 70px !important;
    max-width: 70px !important;
    max-height: 70px !important;
}

.how-style > .css-1pnci3e-SectionHeading{
    margin-top: -30px !important;
}


.css-ta0pww-PremiumFeature h4{
    margin: 0;
    background: #0B0B0E !important;
}


.css-a1qopi-NavbarDrawer .active{
    color: var(--theme-ui-colors-primary, #000) !important;  
}

#btn-en-ar {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box padding-box, linear-gradient(90deg, rgb(32, 28, 255) -91.5%, rgb(19, 239, 149) 80.05%) border-box border-box;
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(56, 237, 172, 0.2) 10px 0px 15px) drop-shadow(rgba(150, 162, 255, 0.2) -10px 0px 15px);
    border: 1px solid transparent;
}